.header{
    /* border: 1px solid red; */

    font-family: var(--font-primary);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
}

.header__logo{
    width: 176px;
}

@media (max-width: 768px){
    .header{
        flex-direction: column;
    }
}

.header__nav{

    /* border: 1px solid blue; */

    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 3rem;    
}